.navbar {
    height: 86px;
    background-color: #F5F7FA;
    color: #18191F;
    font-weight: 600;
}

.nav-links .nav-link {
  margin: 0 25px;
}

.header-login-button {
    background-color: #EAEBF6;
    color: #6C70C5;
    border: none;
}

.header-login-button:hover{
    background-color: #B5B7E1;
}

.header-signup-button {
    background-color: #6C70C5;
    color: #ffffff;
    border: none;
}

.header-signup-button:hover{
    background-color: #B5B7E1;
}

.hero-wrapper {
    background-color: #F5F7FA;
}

.hero {
    background-color: #F5F7FA;
    color: #4D4D4D;
    padding-top: 100px;    /* 위쪽 패딩 80px */
    padding-bottom: 100px; /* 아래쪽 패딩 80px */
}

.hero-text {
    font-weight: 700;
    font-size: 64px;
}

.hero-button {
    background-color: #6C70C5;
    border: none;
}

.hero-button:hover {
    background-color: #B5B7E1;
}

.feature-card {
  border: none;
  border-radius: 8px;
  height: 200px;
  background-color: #F5F7FA;
}

.feature-card-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 47px;
    height: 47px;
    margin-top: 1rem;
}

.feature-card-title {
    color: #6C70C5;
    font-weight: 700;
}

.feature-card-text {
    color: #717171;
}

.map-text {
    color: #6C70C5;
    font-weight: 600;
}

footer {
    background-color: #B5B7E1;
}